
/* Import bootstrap for error/NshmpError */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* nshmp-error */
.nshmp-error .error-modal {
  overflow: visible;
  transform: translate(0, 50%);
}

.nshmp-error .modal.in .modal-dialog {
  transform: translate(0, -50%);
}
